{{#each this}}

<div class="profilePicPrev">
  <img src={{profileImage}} class="img-rounded" class="img-rounded img-responsive" width="100%">

 
 </div>

 <div class="profileNamePrev">Hi {{name}}!
 </div>
 <button type="button" class="btn btn-default btn-lg">
   <span id="edit-button" class="side-bar-button glyphicon glyphicon-edit" aria-hidden="true">  Edit Profile</span>
 </button>
 {{/each}}